<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h3>Bar Graph Page</h3>
    <button class="logoutbutton" onclick="location.href = '/login'">Logout</button><br>
    <button class="button" onclick="location.href = '/'">Back</button>

    <div class="chartCard">
      <div class="chartBox">
        <canvas id="myChart"></canvas>
        Change name of graph: <input onkeyup="updatetitle(this)" type="text"><br>
        Change name of dataset: <input onkeyup="updatedatesetname1(this)" type="text"><br>
        Change max y axis: <input onkeyup="updateymax(this)" type="number"><br>
        Change name of x axis: <input onkeyup="updatexname(this)" type="text"><br>
        Change name of y axis: <input onkeyup="updateyname(this)" type="text"><br>
        <button class="button" onclick="exportimage()">Download Image</button>
        <button class="button" onclick="exportimage()">Download Image</button>
        <button class="button" onclick="favgraph()">Favorite Graph</button>
        <button class="button" onclick="location.href = '/viewpage'">View Page</button><br>
        <button class="button" onclick="seconddata()">Add Second Dataset</button>
        <button class="button" onclick="exportsavedata('bar', xColumn, yColumn, yType, operation)">Export Graph Settings</button>
      </div>
    </div>

    <script src="{{ url_for('static', filename='chart.js') }}"></script>
    <script src="{{ url_for('static', filename='allfunctions.js') }}"></script>
    
    <script>
      // setup 
      const data = {
        labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
        datasets: [{
          label: 'Dataset 1',
          data: [18, 12, 6, 9, 12, 3, 9],
          backgroundColor: [
            'rgba(255, 26, 104, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)',
            'rgba(0, 0, 0, 0.2)'
          ]
        },
        {
          hidden: true,
          label: '',
          data: [10, 5, 10, 2, 15, 5, 9],
          backgroundColor: [
            'rgba(255, 255, 104, 0.2)',
            'rgba(100, 162, 235, 0.2)',
            'rgba(255, 150, 86, 0.2)',
            'rgba(75, 192, 210, 0.2)',
            'rgba(153, 200, 200, 0.2)',
            'rgba(255, 159, 255, 0.2)',
            'rgba(0, 0, 0, 0.2)'
          ]
        }]
      };

      //plugin
      const plugin = {
        id: 'custom_canvas_background_color',
        beforeDraw: (chart) => {
          const ctx = chart.canvas.getContext('2d');
          ctx.save();
          ctx.globalCompositeOperation = 'destination-over';
          ctx.fillStyle = 'white';
          ctx.fillRect(0, 0, chart.width, chart.height);
          ctx.restore();
        }
      };

      // config 
      const config = {
        type: 'bar',
        data,
        plugins: [plugin],
        options: {
          scales: {
            y: {
              title: {
                display: true,
                text: 'y axis'
              },
              suggestedMin: 0,
              suggestedMax: 20
            },
            x: {
              title: {
                display: true,
                text: 'x axis'
              }
            }
          },
          plugins: {
            title: {
                display: true,
                text: 'Bar Graph'
            }
          }
        }
      };

      // render init block
      const myChart = new Chart(
        document.getElementById('myChart'),
        config
      );

      if(typeof(Storage)!=="undefined" && localStorage.dbchose){
        importsavedata();
      }

      function seconddata(){
        myChart.config.data.datasets[1].hidden = false;
        myChart.config.data.datasets[1].label = 'Dataset 2 Name';
        myChart.update();
      }
    </script>

  </body>
</html>