<html>
    <button onclick="location.href = '/template'">Back</button>
    
    <body>
        <h3>Bar Graph Page</h3>
    </body>
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
      }
      .chartMenu p {
        padding: 10px;
        font-size: 20px;
      }
      .chartCard {
        width: 100vw;
        height: calc(100vh - 40px);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .chartBox {
        width: 700px;
        padding: 20px;
        border-radius: 20px;
        background: white;
      }
    </style>
  </head>
  <body>
    <button onclick="location.href = '/template'">Main Menu</button>

    <div class="chartCard">
      <div class="chartBox">
        <canvas id="myChart"></canvas>
        Change name of graph: <input onkeyup="updatename(this)" type="text"><br>
        Change max y axis: <input onkeyup="updateymax(this)" type="number"><br>
        Change name of x axis: <input onkeyup="updatexname(this)" type="text"><br>
        Change name of y axis: <input onkeyup="updateyname(this)" type="text"><br>
        <button onclick="exportimage()">Download Image</button>
      </div>
    </div>

    <script src="{{ url_for('static', filename='chart.js') }}"></script>
    
    <script>
    // setup 
    const data = {
      labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
      datasets: [{
        label: 'Bar Graph Name',
        data: [18, 12, 6, 9, 12, 3, 9],
        backgroundColor: [
          'rgba(255, 26, 104, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)',
          'rgba(0, 0, 0, 0.2)'
        ],
        borderColor: [
          'rgba(255, 26, 104, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)',
          'rgba(0, 0, 0, 1)'
        ],
        borderWidth: 1
      }]
    };

    //plugin
    const plugin = {
      id: 'custom_canvas_background_color',
      beforeDraw: (chart) => {
        const ctx = chart.canvas.getContext('2d');
        ctx.save();
        ctx.globalCompositeOperation = 'destination-over';
        ctx.fillStyle = 'white';
        ctx.fillRect(0, 0, chart.width, chart.height);
        ctx.restore();
      }
    };

    // config 
    const config = {
      type: 'bar',
      data,
      plugins: [plugin],
      options: {
        scales: {
          y: {
            title: {
              display: true,
              text: 'y axis'
            },
            suggestedMin: 0,
            suggestedMax: 20
          },
          x: {
            title: {
              display: true,
              text: 'x axis'
            }
          }
        }
      }
    };

    // render init block
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );

    function updatename(nameval){
        myChart.config.data.datasets[0].label = nameval.value;
        myChart.update();
    }

    function updateymax(numval){
      myChart.config.options.scales.y.suggestedMax = numval.value;
      myChart.update()
    }

    function updatexname(nameval){
      myChart.config.options.scales.x.title.text = nameval.value;
      myChart.update()
    }
  
    function updateyname(nameval){
      myChart.config.options.scales.y.title.text = nameval.value;
      myChart.update()
    }

    function exportimage(){
      var a = document.createElement('a');
      a.href = myChart.toBase64Image();
      a.download = 'graph.png';

      // Trigger the download
      a.click();
    }
    </script>

  </body>
</html>