<!DOCTYPE html>
<head> 
    <title> test </title>
    <script>
        // jinja substitutes the scripts root directory upon creation.
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
</head>
<body>
<!-- loads jQuery -->
<script src="{{ url_for('static', filename='jquery.js') }}"></script>
<script>
    // $(function()) lets us run a function on page load. This is provided by jQuery.
    // We prepend jQuery functions with $, as per convention.
    function testElements() {
        // .getJSON() sends a GET request, and expects JSON data back.
        // It is a shorthand for a .ajax() function that does the same thing.
        // $SCRIPT_ROOT + '/db_all' builds the url.
        // The function in the function call lets us work with the retrieved obj.
        $.getJSON($SCRIPT_ROOT + '/db_all', function(JSON) {
            alert(JSON.toString())
        });
    }

    function testQuery() {
        var type = document.getElementById("type");
        var itemA = document.getElementById("itemA");
        var itemB = document.getElementById("itemB");
        var step = document.getElementById("step");
        $.post($SCRIPT_ROOT + '/request', { type: parseInt(type.value, 10), itemA: itemA.value, itemB: itemB.value, step: parseInt(step.value, 10)}, function(JSON) {
            alert(JSON.toString())
        }, "json");
        
    }

</script>
{% if string %}
{{string}}
{% else %}
nothing
{% endif %}

<p>
<button onclick="testElements()"> Show table elements </button>

<h3> API Test </h3>

<form id="myForm" name="myForm">
  <div>
    <label for="type">Enter type:</label>
    <input type="text" id="type" name="type" value="0">
  </div>
  <div>
    <label for="itemA">Enter Item A:</label>
    <input type="text" id="itemA" name="itemA" value="salaries,salary">
  </div>
  <div>
    <label for="itemB">Enter Item B:</label>
    <input type="text" id="itemB" name="itemB" value="salaries,from_date,date">
  </div>
  <div>
    <label for="step">Enter Step:</label>
    <input type="text" id="step" name="step" value=1>
  </div>
  <input type="button" onclick="testQuery()" value="Submit!">
</form>

<h3 id=result> </h3>

</body>
</html>
