<!DOCTYPE html>
<head> 
    <title> test </title>
    <script>
        // jinja substitutes the scripts root directory upon creation.
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
</head>
<body>
<!-- loads jQuery -->
<script src="{{ url_for('static', filename='jquery.js') }}"></script>
<script>
    // I really, really hate JS, so working this out was not fun.
    // $(function()) lets us run a function on page load. This is provided by jQuery.
    // We prepend jQuery functions with $, as per convention.
    function testElements() {
        // .getJSON() sends a GET request, and expects JSON data back.
        // It is a shorthand for a .ajax() function that does the same thing.
        // $SCRIPT_ROOT + '/db_all' builds the url.
        // The function in the function call lets us work with the retrieved obj.
        $.getJSON($SCRIPT_ROOT + '/db_all', function(JSON) {
            alert(JSON.toString())
        });
    }

    function testRequest() {
        $.post($SCRIPT_ROOT + '/request', { type: 0, itemA: "salaries,salary", itemB: "salaries,from_date,date", step: 1 }, function(JSON) {
            alert(JSON.toString())
        }, "json");
    }

</script>
{% if string %}
{{string}}
{% else %}
nothing
{% endif %}
<button onclick="testElements()"> Show table elements </button>
<button onclick="testRequest()"> Show request result </button>
</body>
</html>
