<!DOCTYPE html>
<head> 
    <title> test </title>
    <script>
        // jinja substitutes the scripts root directory upon creation.
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
</head>
<body>
<!-- loads jQuery -->
<script src="{{ url_for('static', filename='jquery.js') }}"></script>
<script>
    // $(function()) lets us run a function on page load. This is provided by jQuery.
    // We prepend jQuery functions with $, as per convention.
    function testElements() {
        // .getJSON() sends a GET request, and expects JSON data back.
        // It is a shorthand for a .ajax() function that does the same thing.
        // $SCRIPT_ROOT + '/db_all' builds the url.
        // The function in the function call lets us work with the retrieved obj.
        $.getJSON($SCRIPT_ROOT + '/db_all', function(JSON) {
            alert(JSON.toString())
        });
    }

    function testQuery() {
        var type = document.getElementById("type");
        var itemA = document.getElementById("itemA");
        var itemB = document.getElementById("itemB");
        var filter = document.getElementById("filter");
        var step = document.getElementById("step");
        $.post($SCRIPT_ROOT + '/request', { type: parseInt(type.value, 10), itemA: itemA.value, itemB: itemB.value, filter: filter.value, step: parseInt(step.value, 10)}, function(JSON) {
            alert(JSON.toString())
        }, "json");
        return;
    }

    function create_user() {
        var username = document.getElementById("username_login");
        var password = document.getElementById("password_login");
        var email = document.getElementById("email");
        $.post($SCRIPT_ROOT + '/create_test_user', { username: username.value , password:password.value , email:email.value}, function(JSON) {
            alert(JSON.toString())
        }, "json");
        return;
    }

    function set_db() {
      var schema = document.getElementById("schema");
      var ip = document.getElementById("ip");
      var port = document.getElementById("port");
      var server_username = document.getElementById("username_Server");
      var server_password = document.getElementById("password_Server");
      var db_username = document.getElementById("username_DB");
      var db_password = document.getElementById("password_DB");
      $.post($SCRIPT_ROOT + '/set_db', { schema:schema.value, ip:ip.value, port:port.value, server_username: server_username.value, server_password: server_password.value, db_username: db_username.value, db_password: db_password.value}, function(JSON) {
          alert(JSON.toString())
      }, "json");
      return;
    }

</script>
{% if string %}
{{string}}
{% else %}
nothing
{% endif %}

<p>
<button onclick="testElements()"> Show table elements </button>

<h3> API Test </h3>

<form id="myForm" name="myForm">
  <div>
    <label for="type">Enter type:</label>
    <input type="text" id="type" name="type" value="0">
  </div>
  <div>
    <label for="itemA">Enter Item A:</label>
    <input type="text" id="itemA" name="itemA" value="salaries,salary">
  </div>
  <div>
    <label for="itemB">Enter Item B:</label>
    <input type="text" id="itemB" name="itemB" value="salaries,from_date,date">
  </div>
  <div>
    <label for="filter">Enter Filter:</label>
    <input type="text" id="filter" name="filter" value="employees,gender,F,0">
  </div>
  <div>
    <label for="step">Enter Step:</label>
    <input type="text" id="step" name="step" value=1>
  </div>
  <input type="button" onclick="testQuery()" value="Submit!">
</form>

<h3 id=result> </h3>

<h3> Set User </h3>

<form id="form2" name="form2">
  <div>
    <label for="username_login">Enter Username:</label>
    <input type="text" id="username_login" name="username_login" value="0">
  </div>
  <div>
    <label for="password_login">Enter Password:</label>
    <input type="text" id="password_login" name="password_login" value="0">
  </div>
  <div>
    <label for="email">Enter Email:</label>
    <input type="text" id="email" name="email" value="0">
  </div>

    <input type="button" onclick="create_user()" value="Submit!">
</form>

<h3> Set DB </h3>

<form id="form2" name="form2">
  <div>
    <label for="schema">Enter DB Schema:</label>
    <input type="text" id="schema" name="schema" value="{{session['schema']}}">
  </div>
  <div>
    <label for="ip">Enter IP:</label>
    <input type="text" id="ip" name="ip" value="{{session['ip']}}">
  </div>
  <div>
    <label for="port">Enter Port:</label>
    <input type="text" id="port" name="port" value="{{session['port']}}">
  </div>
    <div>
    <label for="username_Server">Enter Server Username:</label>
    <input type="text" id="username_Server" name="username_Server" value="{{session['server_username']}}">
  </div>
  <div>
    <label for="password_Server">Enter Server Password:</label>
    <input type="text" id="password_Server" name="password_Server" value="{{session['server_password']}}">
  </div>
  <div>
    <label for="username_DB">Enter DB Username:</label>
    <input type="text" id="username_DB" name="username_DB" value="{{session['db_username']}}">
  </div>
  <div>
    <label for="password_DB">Enter DB Password:</label>
    <input type="text" id="password_DB" name="password_DB" value="{{session['db_password']}}">
  </div>
    <input type="button" onclick="set_db()" value="Submit!">
</form>

</body>
</html>
