<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.chartMenu p {
  padding: 10px;
  font-size: 20px;
}
.chartCard {
  width: 100vw;
  height: calc(100vh - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.chartBox {
  width: 700px;
  padding: 20px;
  border-radius: 20px;
  background: white;
  }

  // for drop-down box
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
</style>
</head>

<body>
<h3>Line Graph Page</h3>

<button onclick="location.href = '/'">Main Menu</button>

<div class="dropdown">
  <button onclick="dropToggleTable()" class="dropbtn">Choose Table</button>
  <div id="toggleTable" class="dropdown-content">
    <button onclick=getTables()>Dummy table</button>
  </div>
</div>












<select id="tables"></select>

<br><br>

<button onclick="displayTableDropdown();">
  Click here to get tables
</button>




<script>
  var tableDropdown = document.getElementById("tables");
  var tableChoices = ["dummy table 1", "dummy table 2"];
  //var tables = getTables();   // this produces an error: '$ is not defined'

  // updates dropdown with array values
  // TODO: figure out how generalize this function by passing in a parameter
  // and fix it, currently not working
  function displayTableDropdown() {
    for (var i = 0; i < tableChoices.length; i++) {
      var optn = tableChoices[i];
      var el = document.createElement("option");
      el.textContent = optn;
      el.value = optn;

      /*if (typeDropdown == 'tableDropdown')
        tableDropdown.appendChild(el);
      if (typeDropdown == 'columnDropdown')
        columnDropdown.appendChild(el);
        */
      tableDropdown.appendChild(el);

    }
  }


  // jinja substitutes the scripts root directory upon creation.
  $SCRIPT_ROOT = {{ request.script_root|tojson }};


  // Toggle between hiding and showing the dropdown content when clicking the button
  function dropToggleTable() {
    document.getElementById("toggleTable").classList.toggle("show");
  }

  // returns list of tables in the database
  function getTables() {
    var tables = [];

    $.getJSON($SCRIPT_ROOT + '/db_all', function(JSON) {
      // loop through JSON object and retrieve unique table names (assumes first element of 2d array is table name)
      var current;
      for (var i = 0, len = JSON.length; i < len; i++) {
        
        current = JSON[i][0];
        var alreadyInTables = (tables.indexOf(current) > -1);

        // if string not already in table,
        if (!alreadyInTables)
          tables.push(JSON[i][0]); // add it to tables
      }
    
    });
    return tables;
  }

  // saves user's choice of table
  // TODO
  function chooseTable(x) {
    $.post($SCRIPT_ROOT + '/request', { type: 0, itemA: "salaries,salary", itemB: "salaries,from_date,date", filter: "", step: 1 }, function(JSON) {
      var tmp = JSON.toString();
      var allVars = tmp.split(",");

      // gets odd values from array, which are dates
      var dates = allVars.filter((element, index) => {
        return index % 2 === 1;
      });

      // sets graph x-values to dates
      myChart.config.data.labels = dates;
    }, "json");
  }
</script>











<select id="columns"></select>

<br><br>

<button onclick="displayColumnDropdown();">
  Click here to get columns 
</button>




<script>
  var columnDropdown = document.getElementById("columns");
  var columnChoices = ["dummy column 1", "dummy column 2"];
  //var tables = getColumns();   // this produces an error: '$ is not defined'


  function displayColumnDropdown() {
    for (var i = 0; i < columnChoices.length; i++) {
      var optn = columnChoices[i];
      var el = document.createElement("option");
      el.textContent = optn;
      el.value = optn;

      /*if (typeDropdown == 'tableDropdown')
        tableDropdown.appendChild(el);
      if (typeDropdown == 'columnDropdown')
        columnDropdown.appendChild(el);
        */
      columnDropdown.appendChild(el);

    }
  }


  function getColumns() {
    var columns = [];

    $.getJSON($SCRIPT_ROOT + '/db_all', function(JSON) {
      // loop through JSON object and retrieve column names (assumes second element of 2d array is column name)
      var current;
      for (var i = 0, len = JSON.length; i < len; i++) {
        
        current = JSON[i][1];

        columns.push(JSON[i][1]); // add it to columns
      }
    
    });
    return columns;
  }

</script>




<div class="dropdown">
  <button onclick="dropToggleColumn()" class="dropbtn">Choose column</button>
  <div id="setColumn" class="dropdown-content">
    <button onclick=setColumn('totalSalary')>Column 1 (dummy)</button>
    <button onclick=setColumn('avgSalary')>Column 2 (dummy)</button>
  </div>
</div>

<script>
// sets y-axis
function setColumn(y) {
  if (y == 'totalSalary') {
    $.post($SCRIPT_ROOT + '/request', { type: 1, itemA: "salaries,salary", itemB: "salaries,from_date,date", filter: "", step: 1 }, function(JSON) {
      var tmp = JSON.toString();
      var allVars = tmp.split(",");

      // gets even values from array, which are salaries
      var salaries = allVars.filter((element, index) => {
        return index % 2 === 0;
      });

      // sets graph y-values to salaries
      myChart.config.data.datasets[0].data = salaries;
    }, "json");
  }

  else if (y == 'avgSalary') {
    $.post($SCRIPT_ROOT + '/request', { type: 0, itemA: "salaries,salary", itemB: "salaries,from_date,date", filter: "", step: 1 }, function(JSON) {
      var tmp = JSON.toString();
      var allVars = tmp.split(",");

      // gets even values from array, which are salaries
      var salaries = allVars.filter((element, index) => {
        return index % 2 === 0;
      });

      // sets graph y-values to salaries
      myChart.config.data.datasets[0].data = salaries;
    }, "json");
  }
}

function dropToggleColumn() {
  document.getElementById("setColumn").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>



<button onclick=updateGraph()> Update Graph </button>

<script>
function updateGraph() {
  myChart.update();
}
</script>






<div class="chartCard">
  <div class="chartBox">
    <canvas id="myChart"></canvas>
    Change name of graph: <input onkeyup="updatename(this)" type="text"><br>
    Change max y axis: <input onkeyup="updateymax(this)" type="number"><br>
    Change min y axis: <input onkeyup="updateymin(this)" type="number"><br>
    Change name of x axis: <input onkeyup="updatexname(this)" type="text"><br>
    Change name of y axis: <input onkeyup="updateyname(this)" type="text"><br>
    <button onclick="exportimage()">Download Image</button><br>
    <button onclick="testRequest()"> Show request result </button>
  </div>
</div>

<script src="{{ url_for('static', filename='chart.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.js') }}"></script>

<script>
// jinja substitutes the scripts root directory upon creation.
$SCRIPT_ROOT = {{ request.script_root|tojson }};



// to be removed
function testRequest() {
  $.post($SCRIPT_ROOT + '/request', { type: 0, itemA: "salaries,salary", itemB: "salaries,from_date,date", filter: "", step: 1 }, function(JSON) {
      var tmp = JSON.toString();
      var allVars = tmp.split(",");

      // gets odd values from array, which are dates
      var dates = tmp2.filter((element, index) => {
        return index % 2 === 1;
      });

      var evennums = tmp2.filter((element, index) => {
        return index % 2 === 0;
      });

      myChart.config.data.labels = dates;
      myChart.config.data.datasets[0].data = evennums;
      myChart.update();
  }, "json");
}




// setup 
const data = {
  labels: [50,60,70,80,90,100,110,120,130,140,150],
  datasets: [{
    label: 'Line Graph Name',
    pointRadius: 4,
    backgroundColor: 'rgb(255, 255, 255)',
    pointBackgroundColor: "rgb(0,0,255)",
    data: [7,8,8,9,9,9,10,11,14,14,15]
  }]
};

//plugin
const plugin = {
  id: 'custom_canvas_background_color',
  beforeDraw: (chart) => {
    const ctx = chart.canvas.getContext('2d');
    ctx.save();
    ctx.globalCompositeOperation = 'destination-over';
    ctx.fillStyle = 'white';
    ctx.fillRect(0, 0, chart.width, chart.height);
    ctx.restore();
  }
};

// config 
const config = {
  type: 'line',
  data,
  plugins: [plugin],
  options: {
    scales: {
        y: {
          title: {
            display: true,
            text: 'y axis'
          },
          suggestedMin: 0,
          suggestedMax: 20
        },
        x: {
          title: {
            display: true,
            text: 'x axis'
          },
          suggestedMin: 0,
          suggestedMax: 200
        }
    }
  }
};

// render init block
const myChart = new Chart(
  document.getElementById('myChart'),
  config
);

function updatename(nameval){
  myChart.config.data.datasets[0].label = nameval.value;
  myChart.update();
}

function updateymax(numval){
  myChart.config.options.scales.y.suggestedMax = numval.value;
  myChart.update()
}

function updateymin(numval){
  myChart.config.options.scales.y.suggestedMin = numval.value;
  myChart.update()
}

function updatexname(nameval){
  myChart.config.options.scales.x.title.text = nameval.value;
  myChart.update()
}

function updateyname(nameval){
  myChart.config.options.scales.y.title.text = nameval.value;
  myChart.update()
}

function exportimage(){
  var a = document.createElement('a');
  a.href = myChart.toBase64Image();
  a.download = 'graph.png';

  // Trigger the download
  a.click();
}
</script>

</body>
</html>