<html>
  <head>
    <link rel="stylesheet" href="/static/style.css" />
    <script src="{{ url_for('static', filename='allfunctions.js') }}"></script>
  </head>
  
  <body>
    <button class="button" onclick="darkmode()">Toggle dark mode</button>
    <div class="container">
      <div class="child">
        <h1>Login</h1>
        <form action="" method="post">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Username" name="username" value="{{request.form.username }}"><br><br>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Password" name="password" value="{{request.form.password }}"><br><br>
      
          <input class="button" type="submit" value="Login"><br>
        
          {% if error %}
          <p class="error"><strong>Error:</strong> {{ error }}
          {% endif %}
        </form>
      </div>
    </div>
  </body>
</html>