<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
      }
      
      .chartMenu p {
        padding: 10px;
        font-size: 20px;
      }

      .chartCard {
        width: 100vw;
        height: calc(100vh - 40px);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .chartBox {
        width: 700px;
        padding: 20px;
        border-radius: 20px;
        background: white;
      }

      .button {
        background-color: #008CBA;
        border: #555555;
        color: white;
        padding: 15px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 12px;
        transition-duration: 0.4s;
      }

      .logoutbutton {
          background-color: #4CAF50;
          border: none;
          color: white;
          padding: 10px 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 12px;
          margin: 4px 2px;
          cursor: pointer;
          border-radius: 12px;
          transition-duration: 0.4s;
      }

      .button:hover {
          background-color: #4CAF50;
          color: white;
      }

      .logoutbutton:hover {
          background-color: #f44336;
          color: white;
      }
    </style>
  </head>
  <body>
    <h3>Polar Area Graph Page</h3>
    <button class="logoutbutton" onclick="location.href = '/login'">Logout</button><br>
    <button class="button" onclick="location.href = '/'">Back</button>

    <div class="chartCard">
      <div class="chartBox">
        <canvas id="myChart"></canvas>
        Change name of graph: <input onkeyup="updatename(this)" type="text"><br>
        <button class="button" onclick="exportimage()">Download Image</button>
        <button class="button" onclick="favgraph()">Favorite Graph</button>
        <button class="button" onclick="location.href = '/viewpage'">View Page</button>
      </div>
    </div>

    <script src="{{ url_for('static', filename='chart.js') }}"></script>
    
    <script>
      const DATA_COUNT = 5;
      const NUMBER_CFG = {count: DATA_COUNT, min: 0, max: 100};
      // setup 
      const data = {
          labels: [
            'Red',
            'Green',
            'Yellow',
            'Grey',
            'Blue'
          ],
          datasets: [{
            label: 'My First Dataset',
            data: [11, 16, 7, 3, 14],
            backgroundColor: [
              'rgb(255, 99, 132)',
              'rgb(75, 192, 192)',
              'rgb(255, 205, 86)',
              'rgb(201, 203, 207)',
              'rgb(54, 162, 235)'
            ]
          }]
      };

      //plugin
      const plugin = {
        id: 'custom_canvas_background_color',
        beforeDraw: (chart) => {
          const ctx = chart.canvas.getContext('2d');
          ctx.save();
          ctx.globalCompositeOperation = 'destination-over';
          ctx.fillStyle = 'white';
          ctx.fillRect(0, 0, chart.width, chart.height);
          ctx.restore();
        }
      };

      // config 
      const config = {
        type: 'polarArea',
        data: data,
        plugins: [plugin],
        options: {
          responsive: true,
          plugins: {
              legend: {
                  position: 'top',
              },
              title: {
                  display: true,
                  text: 'Polar Area Chart'
              }
          }
      },
      };

      // render init block
      const myChart = new Chart(
        document.getElementById('myChart'),
        config
      );

      function updatename(nameval){
          myChart.config.options.plugins.title.text = nameval.value;
          myChart.update();
      }

      //download graph as image
      function exportimage(){
        var a = document.createElement('a');
        a.href = myChart.toBase64Image();
        a.download = 'graph.png';

        // Trigger the download
        a.click();
      }

      //favorite graph function
      function favgraph(){
        var tmp = localStorage.getItem('myArray');
        var image = myChart.toBase64Image();
        var tmp2 = tmp + " " + image;
        localStorage.setItem('myArray', tmp2);
      }
    </script>
  </body>
</html>