<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h3>Polar Area Graph Page</h3>
    <button class="logoutbutton" onclick="location.href = '/login'">Logout</button><br>
    <button class="button" onclick="location.href = '/'">Back</button>

    <div class="chartCard">
      <div class="chartBox">
        <canvas id="myChart"></canvas>
        Change name of graph: <input onkeyup="updatetitle(this)" type="text"><br>
        <button class="button" onclick="exportimage()">Download Image</button>
        <button class="button" onclick="favgraph()">Favorite Graph</button>
        <button class="button" onclick="location.href = '/viewpage'">View Page</button><br>
        <button class="button" onclick="seconddata()">Add Second Dataset</button>
        <button class="button" onclick="exportsavedata('polar', xColumn, yColumn, yType, operation)">Export Graph Settings</button>
      </div>
    </div>

    <script src="{{ url_for('static', filename='chart.js') }}"></script>
    <script src="{{ url_for('static', filename='allfunctions.js') }}"></script>
    
    <script>
      const DATA_COUNT = 5;
      const NUMBER_CFG = {count: DATA_COUNT, min: 0, max: 100};
      // setup 
      const data = {
          labels: [
            'Red',
            'Green',
            'Yellow',
            'Grey',
            'Blue'
          ],
          datasets: [{
            label: 'My First Dataset',
            data: [11, 16, 7, 3, 14],
            backgroundColor: [
              'rgb(255, 99, 132)',
              'rgb(75, 192, 192)',
              'rgb(255, 205, 86)',
              'rgb(201, 203, 207)',
              'rgb(54, 162, 235)'
            ]
          },
          {
            hidden: true,
            label: 'Dataset 2 ',
            data: [20, 15, 35],
            backgroundColor: [
              'rgb(255, 255, 132)',
              'rgb(54, 162, 255)',
              'rgb(255, 205, 100)'
            ]
          }]
      };

      //plugin
      const plugin = {
        id: 'custom_canvas_background_color',
        beforeDraw: (chart) => {
          const ctx = chart.canvas.getContext('2d');
          ctx.save();
          ctx.globalCompositeOperation = 'destination-over';
          ctx.fillStyle = 'white';
          ctx.fillRect(0, 0, chart.width, chart.height);
          ctx.restore();
        }
      };

      // config 
      const config = {
        type: 'polarArea',
        data: data,
        plugins: [plugin],
        options: {
          responsive: true,
          plugins: {
              legend: {
                  position: 'top',
              },
              title: {
                  display: true,
                  text: 'Polar Area Chart'
              }
          }
      },
      };

      // render init block
      const myChart = new Chart(
        document.getElementById('myChart'),
        config
      );

      if(typeof(Storage)!=="undefined" && localStorage.dbchose){
        importsavedata();
      }

      function seconddata(){
        myChart.config.data.datasets[1].hidden = false;
        myChart.config.data.datasets[1].label = 'Dataset 2 Name';
        myChart.update();
      }
    </script>
  </body>
</html>