<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
      }

      .chartMenu p {
        padding: 10px;
        font-size: 20px;
      }

      .chartCard {
        width: 100vw;
        height: calc(100vh - 40px);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .chartBox {
        width: 700px;
        padding: 20px;
        border-radius: 20px;
        background: white;
      }

      .button {
        background-color: #008CBA;
        border: #555555;
        color: white;
        padding: 15px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 12px;
        transition-duration: 0.4s;
      }

      .logoutbutton {
          background-color: #4CAF50;
          border: none;
          color: white;
          padding: 10px 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 12px;
          margin: 4px 2px;
          cursor: pointer;
          border-radius: 12px;
          transition-duration: 0.4s;
      }

      .button:hover {
          background-color: #4CAF50;
          color: white;
      }

      .logoutbutton:hover {
          background-color: #f44336;
          color: white;
      }
    </style>
  </head>
  <body>
    <h3>Radar Graph Page</h3>
    <button class="logoutbutton" onclick="location.href = '/login'">Logout</button><br>
    <button class="button" onclick="location.href = '/'">Back</button>

    <div class="chartCard">
      <div class="chartBox">
        <canvas id="myChart"></canvas>
        Change name of graph: <input onkeyup="updatename(this)" type="text"><br>
        Change name of dataset 1: <input onkeyup="updated1name(this)" type="text"><br>
        Change name of dataset 2: <input onkeyup="updated2name(this)" type="text"><br>
        <button class="button" onclick="exportimage()">Download Image</button>
      </div>
    </div>

    <script src="{{ url_for('static', filename='chart.js') }}"></script>
    
    <script>
    // setup 
    const data = {
        labels: [
          'Eating',
          'Drinking',
          'Sleeping',
          'Designing',
          'Coding',
          'Cycling',
          'Running'
        ],
        datasets: [{
          label: 'My First Dataset',
          data: [65, 59, 90, 81, 56, 55, 40],
          fill: true,
          backgroundColor: 'rgba(255, 99, 132, 0.2)',
          borderColor: 'rgb(255, 99, 132)',
          pointBackgroundColor: 'rgb(255, 99, 132)',
          pointBorderColor: '#fff',
          pointHoverBackgroundColor: '#fff',
          pointHoverBorderColor: 'rgb(255, 99, 132)'
        }, {
          label: 'My Second Dataset',
          data: [28, 48, 40, 19, 96, 27, 100],
          fill: true,
          backgroundColor: 'rgba(54, 162, 235, 0.2)',
          borderColor: 'rgb(54, 162, 235)',
          pointBackgroundColor: 'rgb(54, 162, 235)',
          pointBorderColor: '#fff',
          pointHoverBackgroundColor: '#fff',
          pointHoverBorderColor: 'rgb(54, 162, 235)'
        }]
      };

    //plugin
    const plugin = {
      id: 'custom_canvas_background_color',
      beforeDraw: (chart) => {
        const ctx = chart.canvas.getContext('2d');
        ctx.save();
        ctx.globalCompositeOperation = 'destination-over';
        ctx.fillStyle = 'white';
        ctx.fillRect(0, 0, chart.width, chart.height);
        ctx.restore();
      }
    };

    // config 
    const config = {
      type: 'radar',
      data: data,
      plugins: [plugin],
      options: {
        elements: {
          line: {
            borderWidth: 3
          }
        },
        plugins: {
            title: {
                display: true,
                text: 'Radar Graph'
            }
        }
      },
    };

    // render init block
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );

    function updatename(nameval){
        myChart.config.options.plugins.title.text = nameval.value;
        myChart.update();
    }

    function updated1name(nameval){
        myChart.config.data.datasets[0].label = nameval.value;
        myChart.update();
    }

    function updated2name(nameval){
        myChart.config.data.datasets[1].label = nameval.value;
        myChart.update();
    }

    function exportimage(){
      var a = document.createElement('a');
      a.href = myChart.toBase64Image();
      a.download = 'graph.png';

      // Trigger the download
      a.click();
    }
    </script>

  </body>
</html>