<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h3>Radar Graph Page</h3>
    <button class="logoutbutton" onclick="location.href = '/login'">Logout</button><br>
    <button class="button" onclick="location.href = '/'">Back</button><br>
    <button class="button" onclick="darkmode()">Toggle dark mode</button>
    <br>

    <!-- Dropdown with table choices -->
    <select id="tablesX" onchange="chooseTableX(value)">
      <option> Select a table - x </option>  
    </select>
    
    <select id="tablesY" onchange="chooseTableY(value)">
      <option> Select a table - y</option>  
    </select>
    
    <br><br>
    
    <!-- Column dropdowns, dependent on what table user chooses-->
    <select id="xDropdown" onchange = "chooseX(value)">
      <option> Select a column - x </option>  
    </select>
    
    <select id="yDropdown" onchange = 'chooseY(value)'>
      <option> Select a column - y </option>  
    </select>
    
    <br><br>
    
    <select id='operationDropdown' onchange = 'chooseOperation(value)'>
      <option> Select operation </option>
      <option value = '-1'> No operation </option>
      <option value = '0'> Average </option>
      <option value = '1'> Summation </option>
    </select>
    
    <br><br>
    
    <!--- REMOVE: Keep track of current values, useful for debugging -->
    <p id='tableX'></p>
    <p id='tableY'></p>
    <p id = 'columnX'></p>
    <p id = 'columnY'></p>
    <p id = 'columnYType'></p>
    <p id = 'operation'></p>
    
    <button class="button" onclick = 'getGraph(xColumn, yColumn, yType, operation)'> Graph </button><br>
    
    <button class="button" onclick=updateGraph()> Refresh Graph </button>
    
    <script>
      // jinja substitutes the scripts root directory upon creation.
      $SCRIPT_ROOT = {{ request.script_root|tojson }};
    
      // IMPORTANT: global variables
      var columnChoicesX = [];
      var columnChoicesY = [];
      var tableChoices = [];
    
      var table = 'unspecified';
      var yType;
      var operation = 'unspecified';
    
      var xColumn = {table:'unspecified', column:'unspecified'};
      var yColumn = {table:'unspecified', column:'unspecified'};
    
      //NEW
      var database;
      
      // html elements
      var tableDropdownX = document.getElementById("tablesX");
      var tableDropdownY = document.getElementById("tablesY");
      var xDropdown = document.getElementById("xDropdown");
      var yDropdown = document.getElementById("yDropdown");
    
      // on page load, automatically:
      setTables(tableChoices); // set tables from database
      displayTables(); // display table dropdown
    
      var x2Column;
      var y2Column;
      var y2Type;
      var operation2;
    </script>
    
    <div class="chartCard">
      <div class="chartBox">
        <canvas id="myChart"></canvas>
        Change name of graph: <input onkeyup="updatetitle(this)" type="text"><br>
        Change name of dataset: <input onkeyup="updatedatesetname1(this)" type="text"><br>
        <div id="seconddata" style="display:none;">
          Change name of dataset 2: <input onkeyup="updatedatesetname2(this)" type="text"><br>
        </div>
        <button class="button" onclick="exportimage()">Download Image</button>
        <button class="button" onclick="favgraph()">Favorite Graph</button>
        <button class="button" onclick="location.href = '/viewpage'">View Page</button><br>
        <button class="button" onclick="seconddata()">Add Second Dataset</button>
        <button class="button" onclick="exportsavedata('radar', xColumn, yColumn, yType, operation, x2Column, y2Column, y2Type, operation2)">Export Graph Settings</button>
      </div>
    </div>

    <script src="{{ url_for('static', filename='chart.js') }}"></script>
    <script src="{{ url_for('static', filename='allfunctions.js') }}"></script>
    
    <script>
      // setup 
      const data = {
          labels: [
            'Eating',
            'Drinking',
            'Sleeping',
            'Designing',
            'Coding',
            'Cycling',
            'Running'
          ],
          datasets: [{
            label: 'Dataset 1',
            data: [65, 59, 90, 81, 56, 55, 40],
            fill: true,
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgb(255, 99, 132)',
            pointBackgroundColor: 'rgb(255, 99, 132)',
            pointBorderColor: '#fff',
            pointHoverBackgroundColor: '#fff',
            pointHoverBorderColor: 'rgb(255, 99, 132)'
          }, 
          {
            hidden: true,
            label: '',
            data: [28, 48, 40, 19, 96, 27, 100],
            fill: true,
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgb(54, 162, 235)',
            pointBackgroundColor: 'rgb(54, 162, 235)',
            pointBorderColor: '#fff',
            pointHoverBackgroundColor: '#fff',
            pointHoverBorderColor: 'rgb(54, 162, 235)'
          }]
        };

      //plugin
      const plugin = {
        id: 'custom_canvas_background_color',
        beforeDraw: (chart) => {
          const ctx = chart.canvas.getContext('2d');
          ctx.save();
          ctx.globalCompositeOperation = 'destination-over';
          ctx.fillStyle = 'white';
          ctx.fillRect(0, 0, chart.width, chart.height);
          ctx.restore();
        }
      };

      // config 
      const config = {
        type: 'radar',
        data: data,
        plugins: [plugin],
        options: {
          elements: {
            line: {
              borderWidth: 3
            }
          },
          plugins: {
              title: {
                  display: true,
                  text: 'Radar Graph'
              }
          }
        },
      };

      // render init block
      const myChart = new Chart(
        document.getElementById('myChart'),
        config
      );

      if(typeof(Storage)!=="undefined" && localStorage.x1chose){
        importsavedata();
      }
  
      function seconddata(){
        myChart.config.data.datasets[1].hidden = false;
        myChart.config.data.datasets[1].label = 'Dataset 2 Name';
        document.getElementById("seconddata").style.display = "block";
        myChart.update();
      }
    </script>

  </body>
</html>