<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h3>Radar Graph Page</h3>
    <button class="logoutbutton" onclick="location.href = '/login'">Logout</button><br>
    <button class="button" onclick="location.href = '/'">Back</button>

    <div class="chartCard">
      <div class="chartBox">
        <canvas id="myChart"></canvas>
        Change name of graph: <input onkeyup="updatetitle(this)" type="text"><br>
        Change name of dataset 1: <input onkeyup="updatedatesetname1(this)" type="text"><br>
        Change name of dataset 2: <input onkeyup="updatedatesetname2(this)" type="text"><br>
        <button class="button" onclick="exportimage()">Download Image</button>
      </div>
    </div>

    <script src="{{ url_for('static', filename='chart.js') }}"></script>
    <script src="{{ url_for('static', filename='allfunctions.js') }}"></script>
    
    <script>
      // setup 
      const data = {
          labels: [
            'Eating',
            'Drinking',
            'Sleeping',
            'Designing',
            'Coding',
            'Cycling',
            'Running'
          ],
          datasets: [{
            label: 'My First Dataset',
            data: [65, 59, 90, 81, 56, 55, 40],
            fill: true,
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgb(255, 99, 132)',
            pointBackgroundColor: 'rgb(255, 99, 132)',
            pointBorderColor: '#fff',
            pointHoverBackgroundColor: '#fff',
            pointHoverBorderColor: 'rgb(255, 99, 132)'
          }, {
            label: 'My Second Dataset',
            data: [28, 48, 40, 19, 96, 27, 100],
            fill: true,
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgb(54, 162, 235)',
            pointBackgroundColor: 'rgb(54, 162, 235)',
            pointBorderColor: '#fff',
            pointHoverBackgroundColor: '#fff',
            pointHoverBorderColor: 'rgb(54, 162, 235)'
          }]
        };

      //plugin
      const plugin = {
        id: 'custom_canvas_background_color',
        beforeDraw: (chart) => {
          const ctx = chart.canvas.getContext('2d');
          ctx.save();
          ctx.globalCompositeOperation = 'destination-over';
          ctx.fillStyle = 'white';
          ctx.fillRect(0, 0, chart.width, chart.height);
          ctx.restore();
        }
      };

      // config 
      const config = {
        type: 'radar',
        data: data,
        plugins: [plugin],
        options: {
          elements: {
            line: {
              borderWidth: 3
            }
          },
          plugins: {
              title: {
                  display: true,
                  text: 'Radar Graph'
              }
          }
        },
      };

      // render init block
      const myChart = new Chart(
        document.getElementById('myChart'),
        config
      );
    </script>

  </body>
</html>