<html>
    <style>
        .container {
            width: 100vw;
            height: calc(100vh - 40px);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .child {
            width: 200px;
            padding: 20px;
            border-radius: 20px;
            background: white;
        }
    
        .button {
            background-color: #008CBA;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 12px;
            transition-duration: 0.4s;
        }

        .button:hover {
            background-color: #4CAF50;
            color: white;
        }
    </style>

    <body>
        <div class="container">
            <div class="child">
                <h3> Choose a type of graph</h3>
                <button class="button" onclick="location.href = '/linepage'">Line Graphs</button><br>
                <button class="button" onclick="location.href = '/barpage'">Bar Graphs</button><br>
                <button class="button" onclick="location.href = '/scatterpage'">Scatter Graphs</button><br>
                <button class="button" onclick="location.href = '/piepage'">Pie Graphs</button><br>
                <button class="button" onclick="location.href = '/donutpage'">Donut Graphs</button><br>
                <button class="button" onclick="location.href = '/radarpage'">Radar Graphs</button><br>
                <button class="button" onclick="location.href = '/bubblepage'">Bubble Graphs</button><br>
                <button class="button" onclick="location.href = '/polarpage'">Polar Area Graphs</button>
                <br><br>
                <button onclick="location.href = '/dbtest'">DB Test</button>
                <button onclick="location.href = '/login'">Login Page</button>
            </div>
        </div>
    </body>
</html>