<html>
    
    <body>
        
        <h3> Template test! </h3>
        
        <button onclick="location.href = '/linepage'">Line Graphs</button>
        <button onclick="location.href = '/barpage'">Bar Graphs</button>
        <button onclick="location.href = '/scatterpage'">Scatter Graphs</button>
        <button onclick="location.href = '/dbtest'">DB Test</button>

        
    </body>
</html>