<html>
    <head>
        <link rel="stylesheet" href="/static/style.css" />
    </head>

    <body>
        {% if session.get("UUID") != None %}
        {{session["UUID"].hex()}}
        {% endif %}
        <button class="logoutbutton" onclick="location.href = '/logout'">Logout</button>
        <div class="container">
            <div class="child">
                <h3> Choose a type of graph</h3>
                <button class="button" onclick="location.href = '/barpage'">Bar Graphs</button><br>
                <button class="button" onclick="location.href = '/bubblepage'">Bubble Graphs</button><br>
                <button class="button" onclick="location.href = '/donutpage'">Donut Graphs</button><br>
                <button class="button" onclick="location.href = '/linepage'">Line Graphs</button><br>
                <button class="button" onclick="location.href = '/piepage'">Pie Graphs</button><br>
                <button class="button" onclick="location.href = '/polarpage'">Polar Area Graphs</button><br>
                <button class="button" onclick="location.href = '/radarpage'">Radar Graphs</button><br>
                <button class="button" onclick="location.href = '/scatterpage'">Scatter Graphs</button><br>
                <button class="button" onclick="location.href = '/importpage'">Import Graph from file</button><br>
                <br><br>
                <button onclick="location.href = '/dbtest'">DB Test</button><br>
            </div>
        </div>
    </body>
</html>